section{
    background-color: #e2dfd2;
    width: 100%;
    
    padding: 10px 15px;
    max-width:1100px;  
    margin-top:5px;
    margin:auto;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 0;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    padding: 30px 35px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}.group_form{
    display: flex;
    flex-direction: column;

}input, textarea{
    padding: 17px 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #F0FAF1;
    color: #283629;
    background-color: #edfff0;
    outline: none;
}.btn{
    font-size: 16px;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    background-color: blueviolet;
    width: 200px;
}